In [1]:
import pandas as pd

In [2]:
names = ['Аксьонов', 'Буханчук', 'Ілюк', 'Ковтун', 'Кантур', 'Климовець', 'Колешня', 'Коркушко', 'Кучерявий', 'Межінський', 'Нечай', 'Новик', 'Старовойт', 'Степанюк', 'Терещенко']
progress = {
      'gpa':     [70, 80, 75, 60, 65, 85, 80, 67, 70, 72, 83, 85, 84, 90, 67],
      'current_exam':  [80, 85, 82, 73, 76, 78, 77, 90, 91, 80, 75, 76, 65, 78, 90],
      'number_attempts': [1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1]
     }
progress_df = pd.DataFrame(data=progress, index=names)
progress_df

            gpa  current_exam  number_attempts
Аксьонов     70            80                1
Буханчук     80            85                1
Ілюк         75            82                1
Ковтун       60            73                2
Кантур       65            76                2
Климовець    85            78                1
Колешня      80            77                1
Коркушко     67            90                1
Кучерявий    70            91                1
Межінський   72            80                2
Нечай        83            75                1
Новик        85            76                1
Старовойт    84            65                1
Степанюк     90            78                1
Терещенко    67            90                1

In [3]:
progress_df['course'] = 3
progress_df

            gpa  current_exam  number_attempts  course
Аксьонов     70            80                1       3
Буханчук     80            85                1       3
Ілюк         75            82                1       3
Ковтун       60            73                2       3
Кантур       65            76                2       3
Климовець    85            78                1       3
Колешня      80            77                1       3
Коркушко     67            90                1       3
Кучерявий    70            91                1       3
Межінський   72            80                2       3
Нечай        83            75                1       3
Новик        85            76                1       3
Старовойт    84            65                1       3
Степанюк     90            78                1       3
Терещенко    67            90                1       3

In [4]:
min_gpa = progress_df['gpa'].min()
max_gpa = progress_df['gpa'].max()
mean_gpa = progress_df['gpa'].mean()
median_gpa = progress_df['gpa'].median()

print("Мінімальний середній бал студентів:", min_gpa)
print("Максимальний середній бал студентів:", max_gpa)
print("Середній середній бал студентів:", mean_gpa)
print("Медіанний середній бал студентів:", median_gpa)

Мінімальний середній бал студентів: 60
Максимальний середній бал студентів: 90
Середній середній бал студентів: 75.53333333333333
Медіанний середній бал студентів: 75.0

In [5]:
passed_first_attempt = progress_df[progress_df['number_attempts'] == 1]
count_passed_first_attempt = len(passed_first_attempt)

print("Кількість студентів, що здали поточний екзамен з першого разу:", count_passed_first_attempt)

Кількість студентів, що здали поточний екзамен з першого разу: 12

In [6]:
passed_first_attempt = progress_df[progress_df['number_attempts'] == 1]
count_passed_first_attempt = passed_first_attempt['number_attempts'].value_counts()

print(count_passed_first_attempt)

number_attempts
1    12
Name: count, dtype: int64